.numbers {
  background-color: var(--primaryColor);
  color: #fff;
  padding: 32px 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
}
.numbers h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
  font-family: "Tajawal", sans-serif;
}
.numbers h6 {
  letter-spacing: 1.3px;
  font-family: "Tajawal", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
