.navbar {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 0;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  
}

.navbar a {
  color: #a82c48;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.3px;
}

.navbar a:hover{
  color: #a82c48;
}

.navbar .restnum {
  background-color: #a82c48;
  color: #fff;
  margin-left: 5px;
  border: 3px solid #a82c48;
  padding: 5px 12px;
}

.navbar .restnum:hover {
  background-color: #fff;
  color: #a82c48;
  transition: .2s ease;
}
